* { margin: 0; }

body { 
    margin: 0; 
    background-color: #d3d3d3;
}

header {
    background-color: #18BAFE;
    color: #FFF;
    padding: 10px;
}

section {
    width: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFF;
}

article { margin: 5px; }


.btn {
    background-color: #18BAFE;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
}

#resultado { display: none; }

#menu {
    background-color: #18BAFE;
    padding: 10px;
}

#menu a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

#menu a:hover {
    background-color: #11526e;
}
